<div class="row header">
    <h1>GREETED NAMES</h1>
</div>

<div class="row names">
    <ol>
        {{#each list}}
        <li>
            <a href="/counter/{{@key}}">
                {{@key}}
            </a>
        </li>
        {{/each}}

    </ol>
</div>


<div class="row Button">
    <a href="/" class="button three columns">home</a>
</div>