<div class="container">
<div class="row">
    <h1>GREETED LIST NAMES</h1>
    

     
            NAMES
           
        
            <ul>
               
                {{#each list}}
                <li>
                <a href="/counter/{{@key}}">

                    {{@key}}
                    
                </a>
                </li>
                {{/each}}
            
            </ul>
</div>
</div>