<h1>GREETED LIST NAMES</h1>



NAMES

<ul>

    {{#each list}}
    <li>
        <a href="/counter/{{@key}}">

            {{@key}}

        </a>
    </li>
    {{/each}}

</ul>
<div class="Button">
    <a href="/" <button class="btn"></button> <i class="fa fa-home"></i></button>home</a>
</div>