<div class="row">
	<div class="header">
		<h1>Greetings</h1>
	</div>
</div>



<div class="row">
	<div class="form">
		<form action="/" method="POST">

			<div class="row text-bx">
				<span class="one column name">Name</span>
				<input type="text" class="five columns" name="name" placeholder="type name">
				<div class="six columns count">
					{{counter}}
				</div>
			</div>
			{{#if messages.info}}
			<div class="entry">
				<span class="flash">{{messages.info}}</span>
			</div>
			{{/if}}

			<div class="row filter">
				<label for="language" class="four columns">
					<input type="radio" name="language" value="English">
					<p>English</p>
				</label>
				<label for="language" class="four columns">
					<input type="radio" name="language" value="Afrikaans">
					<p>Afrikaans</p>
				</label>
				<label for="language" class="four columns">
					<input type="radio" name="language" value="Isixhosa">
					<p>IsiXhosa</p>
				</label>

			</div>
			<div class="row Button">
				<input value="Greet" type="submit" class="four columns greet-btn">
			</div>
		</form>
	</div>
</div>

<div class="row displayGreet">
	<h1>{{message}}</h1>
</div>


<div class="row last">
	<div class="six columns link ">
		<a href="/greeted" class="five columns button btn">Greeted Names</a>
	</div>

	<div class="six columns link ">
		<a href="/delete" class="five columns button btn" type="button">Reset</a>
	</div>
</div>