<div class="name">
	<h1>Greetings</h1>
</div>


<form action="/" method="POST">

	<div class="boxName">
		<div class="text-bx">
			NAME 
			
			<input type="text" class="greet" name="name" placeholder="type name">
		</div>
	</div>
<br>


	<div class="filter">
		Type Name

		<input type="radio" name="language" value="English">English
		<input type="radio" name="language" value="Afrikaans">Afrikaans
		<input type="radio" name="language" value="Isixhosa">Isixhosa

	</div>
<br>
	<div class="Button">
		<input class="addGreetings btn " value="Greet" type="submit">

	</div>


</form>

<div class="displayGreet">
	{{message}}
</div>

{{#if messages.info}}
<div class="entry">
	<h1>{{messages.info}}</h1>
</div>
{{/if}}
<br>
<div class="count">
	{{counter}}
</div>

<div class="link">
	<a href="/greeted">Greeted Names</a>
</div>

<div class="Button">
	<a href="/delete" <input class="btn" type="button"> <i class="fa fa-home"></i></input>resert</a>

</div>