<div class="row header">
    <h1>Greeted Message</h1>
</div>

<div class="row message">
    <h1>{{message}}</h1>
</div>

<div class="row last">
    <a href="/greeted" class="three columns button">Back</a>
</div>