.header {
  text-align: center;
  margin: 10px;
  background-color: rgba(255, 0, 0, 0.651);
  color: aliceblue;
  padding: 30px;
}
.header > h1 {
  font-size: 45px;
  font-weight: bold;
}
.form {
  border: rgba(255, 0, 0, 0.651) 5px solid;
  margin: 10px;
}
.text-bx {
  margin: 10px;
}
input[type="text"] {
  margin: 10px;
  margin-left: 0;
}
.name {
  margin-top: 15px;
}
.count {
  text-align: center;
  font-size: 60px;
}
.flash {
	color: red;
	font-weight: bold;
}
.entry {
	text-align: center;
}
.filter {
  margin: 10px;
}
p {
  display: inline;
  margin-left: 4px;
}
.Button {
  margin: 10px;
}
.displayGreet {
	margin: 10px;
	margin-top: 5px;
	border: rgba(255, 0, 0, 0.651) 5px solid;
	height: 60px;
	text-align: center;
}
.last {
	margin: 10px;
	border: rgba(255, 0, 0, 0.651) 5px solid;
	padding: 20px;
}
.names {
	margin: 10px;
}
div>ol>li {
	font-size: 25px;
}
.message {
	margin: 10px;
	font-weight: bold;
}
.button {
	background-color: rgba(255, 0, 0, 0.651);
	color: aliceblue;
}
.greet-btn {
	background-color: rgba(255, 0, 0, 0.651);
	color: aliceblue;
}